<h1><b>Edit User Account</b></h1>
<hr>

<form action="/modify_user" method="post">
  
<div class="form-group row">
  <div class="form-group col-md-3">
    <input type="text" class="form-control" id="first_name" name="query_first_name" value="<%= @current_user.first_name %>">
  </div>
  <div class="form-group col-md-3">
    <input type="text" class="form-control" id="last_name" name="query_last_name" value="<%= @current_user.last_name %>">
  </div>
</div>

<div class="form-group row">
  <div class="form-group col-md-3">
    <input type="text" class="form-control" id="venmo" name="query_venmo" value="<%= @current_user.venmo %>">
  </div>
  <div class="form-group col-md-3">
    <select id="year" class="form-control" name="query_year">
      <% if @current_user.year=="Class of 2021" %>
        <option selected>Class of 2021</option>
        <option>Class of 2022</option>
      <% else %>
        <option>Class of 2021</option>
        <option selected>Class of 2022</option>
      <% end %>
    </select>
  </div>
</div>

<div class="form-group row">
  <div class="form-group col-md-3">
    <input type="email" class="form-control" id="email" name="query_email" value="<%= @current_user.email %>">
  </div>
  <div class="form-group col-md-3">
    <input type="password" class="form-control" id="password" name="query_password" placeholder="Password">
  </div>
</div>
<button type="submit" class="btn btn-primary">Update your profile</button>
</form>