<div class="alert alert-dismissible alert-danger">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  Please sign in or sign up to enjoy our features!
</div>

<h1><b>Sign in<b></h1>
<h3> Welcome back! </h3>
<hr>

<form action="/user_verify_credentials" method="post">
  <div class="form-group row">
  <div class="form-group col-md-3">
    <input type="email" class="form-control" id="email" name="query_email" placeholder="Booth's Email">
  </div>
  <div class="form-group col-md-3">
    <input type="password" class="form-control" id="password" name="query_password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary col-md-1">Sign in</button>
  </div>
</form>

<hr>

<p>
  Or, <a href="/user_sign_up">Sign up</a> instead.
</p>