<h1><b>Sign up</b></h1>
<h3> It's quick and easy! </h3>

<hr>

<form action="/insert_user" method="post">
  
  <div class="form-group row">
    <div class="form-group col-md-3">
      <input type="text" class="form-control" id="first_name" name="query_first_name" placeholder="First Name">
    </div>
    <div class="form-group col-md-3">
      <input type="text" class="form-control" id="last_name" name="query_last_name" placeholder="Last Name">
    </div>
  </div>
  
  <div class="form-group row">
    <div class="form-group col-md-3">
      <input type="text" class="form-control" id="venmo" name="query_venmo" placeholder="Venmo Handle">
    </div>
    <div class="form-group col-md-3">
      <select id="year" class="form-control" name="query_year">
        <option selected>Class of 2021</option>
        <option>Class of 2022</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <div class="form-group col-md-3">
      <input type="email" class="form-control" id="email" name="query_email" placeholder="Booth's Email">
    </div>
    <div class="form-group col-md-3">
      <input type="password" class="form-control" id="password" name="query_password" placeholder="Password">
    </div>
  </div>
  
  <button type="submit" class="btn btn-primary">Sign up</button>
</form>

<hr>

<p>
  Or, <a href="/user_sign_in">Sign in</a> instead.
</p>
