<!DOCTYPE html>
<html>
  <head>
    <title>Booth Debauchery - Where the fun begins!</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" data-ol-has-click-handler=""><b>Booth Debauchery</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <% if @current_user!=nil %>
            <li class="nav-item">
              <a class="nav-link" href="/events" data-ol-has-click-handler="">Events Calendar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/new_event" data-ol-has-click-handler="">Create New Event</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/participants" data-ol-has-click-handler="">Your Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user_sign_out" data-ol-has-click-handler="">Sign Out</a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    </nav>
    <br>
    <%= yield %>
  </body>
</html>